 <div class="main-wrapper">
  <div class="container">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(150,150,150,0.4) 50%), url(images/SLIDE_doypack.jpg);">
      <div class="banner-content">
        <div class="text-center">
          <h1>ALL I PACK</h1>
          <p>Le site est en cours de maintenance</p>
          <a href="mailto:commercial@acs-pack.fr" class="btn btn-danger btn-lg">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>
