<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(150,150,150,0.4) 50%), url(images/pexels-pack.jpeg);">
  <div class="container">
    <div class="banner-content text-center">
      <h1>DOYPACK SUR MESURE</h1>
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux </p>
      <a href="mailto:commercial@acs-pack.fr" class="btn btn-danger btn-lg">Contact</a>
    </div>
  </div>
</div>
