<div class="wrapper doypack-wrapper">
  <h1 class= "doypack-title text-center"><span>Doypacks</span></h1>
  <div class="container">
    <h2>Nos options</h2>
    <!-- <div class="container product-container"> -->
      <div class="row">

            <div class="flip-card col-xs-12 col-md-4">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <%= image_tag "entrepot.jpeg", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                </div>
                <div class="flip-card-back">
                  <h1>Paul Quintrie</h1>
                    <p>We love that guy</p>
                </div>
              </div>
            </div>



            <div class="flip-card col-xs-12 col-md-4">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <%= image_tag "entrepot.jpeg", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                </div>
                <div class="flip-card-back">
                  <h1>Paul Quintrie</h1>
                    <p>We love that guy</p>
                </div>
              </div>
            </div>



            <div class="flip-card col-xs-12 col-md-4">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <%= image_tag "entrepot.jpeg", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                </div>
                <div class="flip-card-back">
                  <h1>Paul Quintrie</h1>
                    <p>We love that guy</p>
                </div>
              </div>
            </div>
          </div>








    <!-- </div> -->













      <h2>Nos impressions</h2>
      <div class="row">






      </div>
  </div>
</div>



<!-- <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <%= image_tag "entrepot.jpeg", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
    </div>
    <div class="flip-card-back">
      <h1>Paul Quintrie</h1>
      <p>We love that guy</p>
    </div>
  </div>
</div>
 -->















