<div class="wrapper contact-wrapper">
  <div class="container contact-container d-flex justify-content-center align-items-center flex-column">
              <h1 class= "contact-title text-center"><span>Contact</span></h1>
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <form action="https://www.enformed.io/6s4mnvtu" method="POST" >
                    <div class="form-group">
                      <input name="Name" type="text" placeholder="Name*" class="form-control"/>
                    </div>
                     <div class="form-group">
                      <input name="Email" type="text" placeholder="Email*" class="form-control"/>
                    </div>
                     <div class="form-group">
                      <input name="Téléphone" type="text" placeholder="Téléphone" class="form-control"/>
                    </div>
                     <div class="form-group">
                      <textarea name="Message" type="text" placeholder="Message*" class="form-control message"></textarea>
                    </div>
                      <input type="hidden" name="*subject" value="Message from ALL I PACK Website" />

                   </div>
                    <input type="submit" value="Envoyer" id="submit" class="btn btn-danger btn-lg center-block" />
                    </form>
                </div>
              </div>
  </div>


</div>
