<div class="wrapper society-wrapper">
  <h1 class= "society-title text-center"><span>La société</span></h1>
  <div class="container container-society">
    <div><%= image_tag "entrepot.jpeg", height: 300, width: 300, crop: :fill, id: "entrepot" %>
    </div>
    <div class= "description-content text-center">
      <h2>ALL I PACK</h2>
      <div class= "description">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux. Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux </div>
      <div class="btn btn-danger">Contact</div>
    </div>
  </div>
</div>
