<div class="description-wrapper" id="society">
  <div class="container border">
    <div class="row no-pad description-row">


      <div class="col-12 col-sm-4 description-col">
          <%= image_tag "logo-fond-rouge.jpg" %>
      </div>

      <div class="col-12 col-sm-4 description-col project">
          <div class=" description-content card-text">
            <p>Agence transversale de création packaging, nous nous distinguons en vous apportant, dès le démarrage de votre projet, une double expertise, marketing et technique.
            En travaillant en relation étroite avec les fabricants, nous vous permettons de gagner du temps dans vos projets.
            Nos équipes ont depuis de nombreuses années une connaissance approfondie des exigence du merchandising et du marketing.</p>
          </div>
      </div>

      <div class="col-12 col-sm-4 description-col z">
        <% image_tag "logo-fond-rouge.jpg"%>
      </div>

</div>



    <div class="row no-pad description-row">

      <div class="col-12 col-sm-4 description-col z">
        <% image_tag "logo-fond-rouge.jpg"%>
      </div>

      <div class="col-12 col-sm-4 description-col">
        <%= image_tag "rayons.jpg" %>
      </div>

      <div class="col-12 col-sm-4 description-col project text2-col">
        <div class="card-text2 text-center italic">
            <p>“ En libre service, 35,5 % des acheteurs misent sur l’emballage avant d’acheter
            un produit “</p>
        </div>
      </div>
  </div>

    <div class="row no-pad description-row">
      <div class="col-12 col-sm-4 expertise-content description-col">
        <h3 class='expertise-title text-center'>Nos expertises</h3>
        <ul class='expertise-list'>
          <li>Création packaging</li>
          <li>Approche pack multi-technologique</li>
          <li>Expertise technique</li>
          <li>Sourcing et négociation fournisseur</li>
          <li>Prépresse et photogravure</li>
          <li>Réalité augmentée</li>
        </ul>
      </div>
      <div class="col-12 col-sm-8 description-col project">
        <div class="card-text-3 text-center">
            <p>Gestion de votre projet pack de <span>A</span> à <span>Z</span></p>
          </div>
      </div>
    </div>



     <div class="row no-pad description-row">
      <div class="col-12 col-sm-4 description-col z">
        <% image_tag "logo-all-i-pack.png"%>
      </div>
      <div class="col-12 col-sm-4 description-col project a">
        <div class="card-text4 text-center">
            <p class="text-center italic">La réalité augmentée, c’est quoi ?</p>
          </div>
      </div>
      <div class="col-12 col-sm-4 description-col">
        <iframe class='iframe' width="313" height="220" src="https://www.youtube.com/embed/_07RBIJHApU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>


  </div>
</div>
