<div class="wrapper">
  <h1 class= "text-center">La societe</h1>
  <div class="container">
    <%= image_tag "entrepot.jpeg", height: 300, width: 300, crop: :fill %>
    <div class= "description-content">
      <h2>ALL I PACK</h2>
      <div class= "description">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux </div>
      <div class="btn btn-danger">Contact</div>
    </div>
  </div>
</div>
