<div class="main-wrapper">
  <div class="container">
    <div class="row no-pad ">


      <div class="col-12 col-sm-4">
          <%= image_tag "logo-all-i-pack.png" %>
      </div>

      <div class="col-12 col-sm-4">
          <div class=" description-content card-text text-center">
            <p>Agence transversale de création packaging, nous nous distinguons en vous apportant, dès le démarrage de votre projet, une double expertise, marketing et technique.
            En travaillant en relation étroite avec les fabricants, nous vous permettons de gagner du temps dans vos projets.
            Nos équipes ont depuis de nombreuses années une connaissance approfondie des exigence du merchandising et du marketing.</p>
          </div>
      </div>

      <div class="col-12 col-sm-4">
            <% image_tag "logo-all-i-pack.png" %>
      </div>

</div>
<div class="row no-pad">
      <div class="col-12 col-sm-4">
          <% image_tag "logo-all-i-pack.png"%>
      </div>

      <div class="col-12 col-sm-4">
        <%= image_tag "rayons.jpg" %>
      </div>

      <div class="col-12 col-sm-4">
        <div class="card-text2 text-center">
            <p>“ En libre service, 35,5 % des acheteurs misent sur l’emballage avant d’acheter
            un produit “</p>
        </div>
      </div>


</div>

  <div class="row no-pad">
      <div class="col-12 col-sm-4">
          <%= image_tag "logo-all-i-pack.png"%>
      </div>

      <div class="col-12 col-sm-4">
          <div class="card-text text-center">
            <p>Agence transversale de création packaging, nous nous distinguons en vous apportant, dès le démarrage de votre projet, une double expertise, marketing et technique.
            En travaillant en relation étroite avec les fabricants, nous vous permettons de gagner du temps dans vos projets.
            Nos équipes ont depuis de nombreuses années une connaissance approfondie des exigence du merchandising et du marketing.</p>
          </div>
      </div>

      <div class="col-12 col-sm-4">
            <%= image_tag "logo-all-i-pack.png" %>
      </div>


</div>



  </div>
</div>
