<div class="wrapper service-wrapper">
  <div class="container service-container border">
    <h1 class= "service-title text-center" id= "services">Nos Réalisations</h1>
    <div class="row no-pad service-row">
      <div class="col-12 col-sm-4">
        <%= image_tag "MOI_HUILEOLIVE.jpg"%>
      </div>
      <div class="col-12 col-sm-4">
        <%= image_tag "soupex3b.jpg"%>
      </div>
      <div class="col-12 col-sm-4 service-text">
          <h2 class="text-center project">Et d’autres projets en cours  ...</h2>

      </div>
    </div>
  </div>
</div>


