

<div class="wrapper service-wrapper" id= "doypack">
  <h1 class= "service-title text-center"><span>Nos Réalisations</span></h1>
  <div class="container">

    <div class="row">

      <div class="col-12 col-sm-4">
         <%= image_tag "MOI_HUILEOLIVE.jpg", class: 'photo' %>
      </div>


      <div class="col-12 col-sm-4">
         <%= image_tag "soupex3b.jpg", class: 'photo' %>
      </div>

      <div class="col-12 col-sm-4">
        <div class="text-center">
          <h2>Et d’autres projets en cours </h2>
          <p>...</p>
        </div>

      </div>

    </div>

  </div>
</div>


