.banner {
  height: 100vh;
  background-size: cover !important;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  background-color: rgba(230, 20, 20, 0.3);
  width: 60%;
  padding: 30px 20px;
}


.text-description {
  font-size: 10px;
  height:275px;
}

.test {
  //position: absolute;
  //left: -15px;
}


@media screen and (min-width: 200px) and (max-width: 640px) {
  .banner-content {
    width: 100%;
  }
}
