.product-wrapper {
  background-color: #F4F4F4;
  padding-bottom:40px;
  padding-top:40px;
}

.doypack-title {
  color: #e84e4b;
  margin-bottom: 25px;
  margin-top: 25px;
}

.doypack {
  position: relative;
  .doypack-text {
    position:absolute;
    z-index: 1;
    bottom: 5px;
    left: 15px;
    font-size: 18px;
    font-weight: bold;
  }
}

.white {
    color: white;
  }

.card-row {
    min-height: 219px;
  .card-content {
    min-height: 219px;
    background-color: #e84e4b;
    display:flex;
    align-items: center;
    color: white;

  }
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

// .flip-container, .front, .back {
//   width: 320px;
//   height: 480px;
// }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}


