.contact-title {
  margin-bottom: 40px;
  color: #e84e4b;
  span {
  background-color: white;
  padding: 5px;
  }
}



.contact-wrapper {
  background-color:#e84e4b ;
}

.contact-content p {
  color: #FFFFFF;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.right {
  width: 65%;
}

.logo2 {
  width: 50%;
}
