.contact-title {
  margin-bottom: 40px;
  span {
    border-bottom: 2px solid;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-itms: center;
}
