.society-wrapper {
  margin-bottom: 25px;
  // background-color: f4f4f4;
}



.card-text {
  font-size:10px;
  padding-top: 20px;

}

.card-text2 {
  font-size: 20px;
  font: Playfair;
  font-weight: bold;
}

.society-title {
  margin-bottom: 40px;
  span {
    border-bottom: 2px solid;
  }
}

.description {
  padding: 0px 60px;
}

img {
  width:100%;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

